@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.primary-para {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}
.primary-btn {
  background: #ff5959;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #121212;
}
.section-padding {
  padding-top: 130px;
}
.content-w-center {
  width: 60%;
  margin: auto;
  text-align: center;
}
/* header start */
header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/donation1.jpg),
    linear-gradient(177deg, rgb(124 79 79 / 50%), rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: #fff;
  text-align: center;
  width: 60%;
}
.header-content h2 {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  margin-bottom: 20px;
}
.header-content p {
  color: #fff;
  margin-bottom: 30px;
}
/* end header */

/* main body start */

.donate-today-con p {
  margin: 20px 0 50px 0;
}

.donate-width {
  width: 60%;
  margin: auto;
  text-align: center;
}
.donate-today-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.item-box {
  width: 135px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 5px;
}
.item-box h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #707070;
}

.item-box:hover {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  transition: all 0.3s;
}

.item-box:hover h4 {
  color: #ff5959;
}
.amount-tk {
  margin-top: 60px;
}
.amount-tk h3 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #b3b3b3;
  margin-bottom: 9px;
}
.donate-btn {
  margin-top: 30px;
}
/* our donate plan */
.our-donate-plan-con .primary-para {
  margin: 20px 0 50px 0;
}
.our-donate-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.donate-item {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
  padding: 54px 23px;
  width: 360px;
}
.donate-item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
  margin-top: 31px;
}
.donate-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.gray-bg {
  background: rgba(255, 89, 89, 0.1);
}
.yellow-bg {
  background: #fff4d6;
}
/* blog content */
.flex-blog {
  display: flex;
  align-items: center;
  gap: 83px;
}
.blog-content h2 {
  text-align: left;
}
.blog-content p {
  text-align: left;
  margin: 20px 0 20px 0;
}
.get-update-section {
  padding-bottom: 20px;
}
.get-update-con p {
  margin: 20px 0 50px 0;
}
.email-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  background: #fff4d6;
  padding: 76px 189px;
}
#email {
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #aa9f9f;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.submit-btn {
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 43px;
}

footer {
  background: #0b0d17;
  padding: 42px 0;
}

footer h2 {
  color: #ff5959;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  font-family: "Lobster", cursive;
}
footer p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  margin-top: 24px;
}
